= simple_form_for [directory.disk, directory] do |form|
  = form.input :name
  = form.input :disk_id, collection: Disk.order(:name), include_blank: false
  = form.input :path, as: :string
  = form.hidden_field :parent_id
  %button.btn.btn-primary{type: 'submit'}= ta :create_directory

