- title @directory.torrent_search.title, false

- unless @directory.copies.empty?
  .btn-group
    - (@directory.copies + [@directory]).sort_by {|d| d.disk.name }.each do |copy|
      = link_to copy.disk.name, copy, class: "btn btn-inverse #{copy == @directory ? 'active' : ''}"

- if @directory.has_children?
  = render 'directories/list', directories: @directory.children, extra_class: 'existing'

- if @directory.contains_torrents_with_content?
  = render 'torrents/list', search: @directory.torrent_search


- unless @directory.detected_directories.empty?
  %h1= ta :detected_directories
  = render 'directories/list', directories: @directory.detected_directories, extra_class: 'new'
