- title @directory.name

%tt= @directory.path

- unless @directory.copies.empty?
  .btn-group
    - (@directory.copies + [@directory]).sort_by {|d| d.disk.name }.each do |copy|
      = link_to copy.disk.name, copy, class: "btn btn-inverse #{copy == @directory ? 'active' : ''}"

- if @directory.has_children?
  %h1= ta :sub_directories
  = render 'list', directories: @directory.children, extra_class: 'existing'

- unless @directory.detected_directories.empty?
  %h1= ta :detected_directories
  = render 'list', directories: @directory.detected_directories, extra_class: 'new'
