- title @directory.name

- @directory.default!

- unless @directory.copies.empty?
  %h1= ta :directory_copies
  = render 'list', directories: @directory.copies, extra_class: 'copies'

- if @directory.has_children?
  %h1= ta :sub_directories
  = render 'list', directories: @directory.children, extra_class: 'existing'

- unless @directory.detected_directories.empty?
  %h1= ta :detected_directories
  = render 'list', directories: @directory.detected_directories, extra_class: 'new'

= simple_form_for @directory, html: { class: 'form-horizontal', id: 'edit' } do |form|
  .inputs
    = form.input :path, disabled: true, as: 'string'
    = form.input :subscribed
    = form.input :filter
  .form-actions
    = form.button :submit

