<h1>Settings</h1>
<h2>Directories</h2>
<%= in_place_settings_text_field('torrent_dir', 
"The directory where the torrent files will be found in and where the download will happen." ) %>
<%= in_place_settings_text_field('history_dir',
"The directory where the finished torrents will be put. It may be a subdir of <b>torrent_dir</b>.") %>
<%= in_place_settings_text_field('target_dir',
"The directory where the finished content will be found after the corresponding torrent was stopped.") %>

<h2>BitTorrent Downloader</h2>
<%= in_place_settings_text_field('interval',
"The interval (in seconds) in which torrent data is committed to the database by the bittorrent downloader.") %>
<%= in_place_settings_text_field('min_port', "Minimal port number.") %>
<%= in_place_settings_text_field('max_port', "Maximal port number.") %>
