<h1>User Settings</h1>
<% form_for :user, @user, :url => { :action => 'user_settings' }  do |f| %>
Login: <%= f.text_field :login %><br />
eMail: <%= f.text_field :email %><br />
Jabber: <%= f.text_field :jabber %><br />
notify me by Jabber: <%= f.check_box :notify_via_jabber %><br />
notify on new Torrents <%= f.check_box :notify_on_new_torrents %>
do NOT watch new Torrents <%= f.check_box :dont_watch_new_torrents %><br />
Mount point for running torrents: <%= f.text_field :content_dir_mountpoint %><br />
Mount point for finshed torrents: <%= f.text_field :target_dir_mountpoint %><br />
<br />
<%= submit_tag "Save" %>
<% end %>
