<div class="modal-dialog {{sizeClass}}">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        {{action "close"}}>
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h4 class="modal-title">{{heading}}</h4>
    </div>
    <div class="modal-body">
      {{yield}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"
        {{action "close"}}>
        {{secondary}}
      </button>
      <button type="button" class="btn btn-primary"
        {{action "submit"}}>
        {{primary}}
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

