= mobile_tag :role => 'page' do
  = mobile_tag :role => 'header' do
    = render_widget @widgets[:header]
  = mobile_tag :role => 'content' do
    = render_widget @widgets[:content]
  = mobile_tag :role => 'footer' do
    = render_widget @widgets[:footer]
