<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Cataract</a>
        {{loading-spinner}}
      </div>

      <div class="collapse navbar-collapse">

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            {{view Ember.DelayedTextField delayedValueBinding="controller.terms" classNames="form-control search-query" elementId="torrent_search_terms"}}
          </div>
        </form>

        <ul class="nav navbar-nav">
          {{outlet 'nav'}}
          {{partial "torrents/navigation"}}
          {{render 'moves'}}
        </ul>

        {{view Cataract.SessionView}}

      </div>

    </div>
    {{view Cataract.FlashListView}}
  </nav>
</div>

<div id="sidebar">
  {{ render 'directories' }}
</div>


<div id="middle">

  <div id="content" {{bind-attr class="detailsExtended:shrunk"}}>
    <div class="tabbable">
      <div class="tab-content">
        <div class="tab-pane active">
          {{ render "torrents" }}
        </div>
      </div>
    </div>
  </div>

  <div id="bar" {{bind-attr class=":well detailsExtended:up"}}>
    {{partial "torrents/tabs"}}
    {{status-message isOnline=Cataract.online errorMessage=Cataract.offlineReason refresh="refreshTransfers"}}
    {{view Cataract.DropZoneView}}
  </div>

  <div id="details" {{bind-attr class="detailsExtended:extended"}}>
    {{ outlet }}
  </div>
</div>

{{ outlet 'modal' }}
