<div id="header">
  <div class="navbar navbar-fixed-top navbar-search">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="/" class="brand">Cataract</a>

        <div class="nav-collapse">

          {{view Cataract.SessionView}}

          {{ render 'moves' }}

          <ul class="nav">
                  <li>{{#linkTo filter "recent"}}Recent{{/linkTo}}</li>
                  <li>{{#linkTo filter "running"}}Running{{/linkTo}}</li>
                  <li>{{#linkTo filter "all"}}All{{/linkTo}}</li>
                  <li>{{#linkTo add}}Add{{/linkTo}}</li>
          </ul>

          {{view Ember.TextField valueBinding="Cataract.terms" classNames="search-query" elementId="torrent_search_terms"}}
        </div>

      </div>
    </div>
  </div>
</div>

{{view Cataract.FlashListView}}

<div class="row-fluid">
  <div class="span3">
    <div id="sidebar">
      {{ render 'directories' }}
      {{ render 'disks' }}

      {{#unless Cataract.online}}
      <div class="alert alert-error">{{Cataract.offlineReason}}</div>
      {{/unless}}
    </div>
  </div>
  <div class="span9" id="content">
    <div style="display: none;">breadcrumbs</div>
    {{outlet pre}}
    {{outlet}}
  </div>
</div>
