<h2>{{disk.name}} / {{name}}</h2>

{{#if subscribed}}
  <span class="subscribed label label-info">subscribed</span>
  <a class="btn btn-danger" {{action unsubscribe this}} href="#">unsubscribe</a>
  {{view Bootstrap.Forms.TextField valueBinding="filter" label="Filter"}}
{{else}}
  <a class="btn btn-success" {{action subscribe this}} href="#">subscribe</a>
{{/if}}


{{view Cataract.SaveOrCancel content=this}}

{{#if hasDetectedSubDirs}}
<h2>Detected</h2>
{{view Cataract.DetectedDirectoriesTable contentBinding="detectedChildren"}}
{{/if}}

{{#if hasSubDirs}}
{{view Cataract.DirectoriesTable contentBinding="children" classNames="existing"}}
{{/if}}

