{{#with view.content}}

  <div class="row-fluid">
    <div class="span6 content_directory">
      {{ directory.name }}
      {{ directory.fullPath }}
    </div>
    <div class="span6">
      <div class="size">{{humanSize}}</div>
      <a href="#" class="count" {{action toggleFiles target="view"}}>{{filesCount}}</a>
    </div>
  </div>

  {{#if view.isShowingFiles}}
    <div class="row-fluid">
      <div class="span12">
        <ul class="files">
          {{#each filenames}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}

{{/with}}
