{{#with view.content}}
  {{#if directory }}
    <div class="content_directory">
      {{ directory.name }}
      {{ directory.path }}
    </div>
  {{/if}}
  <div class="size">{{humanSize}}</div>
  <div class="count">
    <a href="#" {{action toggleShowing target="view"}}> {{filesCount}}</a>
  </div>
  {{#if isShowing}}
    <ul class="files">
      {{#each filenames}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
{{/with}}
