<h2>{{title}}</h2>


{{#if isRunning}}
  {{#if Cataract.online}}
    {{view Cataract.TransferView contentBinding="transfer"}}
  {{else}}
    {{Cataract.offlineReason}}
{{/if}}
{{/if}}

{{#if payloadExists}}
  {{view Cataract.PayloadView contentBinding="payload"}}
{{/if}}

<div class="actions">
  {{#unless isNew}}
    {{#if isRunning}}
      <a class="stop btn btn-mini btn-danger" {{action stop this}}><i class="icon-stop"></i></a>
    {{else}}
      <a class="start btn btn-mini btn-success" {{action start this}}><i class="icon-play"></i></a>
    {{/if}}
    <a class="destroy btn btn-mini btn-danger" {{action delete this}}><i class="icon-remove"></i></a>
    {{#if payloadExists}}
      <a class="clear btn btn-mini btn-danger" {{action deletePayload this}}><i class="icon-trash"></i></a>
      {{#unless isMoving}}
      <a class="move btn btn-mini btn-info" {{action move this}}><i class="icon-share"></i></a>
      {{/unless}}
    {{/if}}
    {{/unless}}
</div>
<p>{{info_hash}}</p>

{{#if isRemote}}
<div class="url">{{url}}</div>
{{/if}}

