<div class="progress progress-striped progress-success active">
  <div class="bar" {{bindAttr style="percentStyle"}}>
    <div class="percent">{{progress}}%</div>
    <div class="eta">{{eta}}</div>
  </div>
</div>
<span class="down badge"><i class="icon-arrow-down" />{{down_rate}}</span>
<span class="up badge"  ><i class="icon-arrow-up"   />{{up_rate}}</span>
{{#if message}}
  <div class="message">{{message}}</div>
{{/if}}

