{{#with view.content}}
  <div class="row-fluid">
    <div class="span6">
      <div {{bind-attr class=":progress :progress-success finished::progress-striped downloading:active"}}>
        <div class="bar" {{bind-attr style="progressStyle"}}>
          <div class="percent">{{progress}}%</div>
          {{#if eta}}
          <div class="eta">{{eta}}</div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="span6">
      <span class="down badge"><i class="glyphicon glyphicon-arrow-down"></i>{{downRate}}</span>
      <span class="up badge"  ><i class="glyphicon glyphicon-arrow-up"  ></i>{{upRate}}</span>
      {{#if message}}
        <div class="message">{{message}}</div>
      {{/if}}
    </div>
  </div>
{{/with}}
