<h4 class="title" {{action toggleExpand target="view"}}>{{title}}</h4>

{{#if isRunning}}
  {{#if Cataract.transferLoaded}}
    {{view Cataract.TransferView contentBinding="transfer"}}
  {{else}}
    {{#if Cataract.online}}
      Loading..
    {{else}}
      {{Cataract.offlineReason}}
    {{/if}}
  {{/if}}
{{/if}}

{{#if payloadExists}}
  {{#if view.isExpanded}}
    {{view Cataract.PayloadView contentBinding="payload"}}
  {{else}}
    has content, click to see
  {{/if}}
{{/if}}


{{#if view.isExpanded}}
  <div class="actions">
    {{#if isRunning}}
      <a class="stop btn btn-mini btn-danger" {{action stop target="view"}}><i class="icon-stop"></i></a>
    {{else}}
      <a class="start btn btn-mini btn-success" {{action start target="view"}}><i class="icon-play"></i></a>
    {{/if}}
    {{#if isSaved}}
      <a class="destroy btn btn-mini btn-danger" {{action delete this}}><i class="icon-remove"></i></a>
    {{/if}}
    {{#if payloadExists}}
      <a class="clear btn btn-mini btn-danger" {{action clear this}}><i class="icon-trash"></i></a>
      {{#unless isMoving}}
      <a class="move btn btn-mini btn-info" {{action move this}}><i class="icon-share"></i></a>
      {{/unless}}
    {{/if}}
  </div>
  <p>{{info_hash}}</p>
{{/if}}


{{#if isRemote}}
<div class="url">{{url}}</div>
{{/if}}

