<h4 class="title">
  {{#link-to 'torrent' view.content}}
  {{view.content.title}}
  {{/link-to}}
</h4>

{{#if view.content.payloadExists}}
  {{view Cataract.Nize value=view.content.payloadKiloBytes}}
{{/if}}

{{#if transferStatus.online}}
  {{#if view.content.isRunning}}
    {{view Cataract.TransferView contentBinding="view.content.transfer"}}
  {{/if}}
{{else}}
  {{transferStatus.offlineReason}}
{{/if}}
