<h4 class="title">{{title}}</h4>

{{#if isRunning}}
  {{#if Cataract.transferLoaded}}
    {{view Cataract.TransferView contentBinding="transfer"}}
  {{else}}
    {{#if Cataract.online}}
      Loading..
    {{else}}
      {{Cataract.offlineReason}}
    {{/if}}
  {{/if}}
{{/if}}

{{#if payloadExists}}
  {{#if isExpanded}}
    {{view Cataract.PayloadView contentBinding="payload"}}
  {{else}}
    has content, click to see
  {{/if}}
{{/if}}


{{#if isExpanded}}
  <div class="actions">
    {{#if isRunning}}
      <a class="stop btn btn-mini btn-danger" {{action stop target="parentView"}}><i class="icon-stop"></i></a>
    {{else}}
      <a class="start btn btn-mini btn-success" {{action start target="parentView"}}><i class="icon-play"></i></a>
    {{/if}}
  </div>
  <p>{{info_hash}}</p>
{{/if}}


{{#if isRemote}}
<div class="url">{{url}}</div>
{{/if}}

