<h4 class="title">{{title}}</h4>

{{#if contentDirectory }}
  <div class="content_directory">
    {{ contentDirectory.name }}
    {{ contentDirectory.path }}
  </div>
{{/if}}

<p>{{info_hash}}

{{#if isRunning}}
  <div class="progress progress-striped progress-success active">
    <div class="bar" {{bindAttr style="percentStyle"}}>
      <div class="percent">{{percent}}%</div>
      <div class="eta">{{eta}}%</div>
    </div>
  </div>
  <span class="down badge"><i class="icon-arrow-down" />{{down_rate}}</span>
  <span class="up badge"  ><i class="icon-arrow-up"   />{{up_rate}}</span>
  {{#if message}}
    <div class="message">{{message}}</div>
  {{/if}}
{{/if}}

{{#if isRemote}}
<div class="url">{{url}}</div>
{{/if}}

{{#if hasContent}}
  <div class="content">
    <div class="size">{{humanContentSize}}</div>
    <div class="count">
      <a href="#" {{action toggleShowing target="parentView"}}> {{contentFilesCount}}</a>
    </div>
    {{#if isShowing}}
      <ul class="files">
        {{#each contentFilenames}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}

