<h4 class="title">
  {{#link-to 'torrent' view.content}}
  {{view.content.title}}
  {{/link-to}}
</h4>

{{view Cataract.Nize}}

{{#if Cataract.online}}
  {{#if view.content.isRunning}}
    {{view Cataract.TransferView contentBinding="view.content.transfer"}}
  {{/if}}
{{else}}
  {{Cataract.offlineReason}}
{{/if}}
