%ul.nav
  = li_link :add, new_torrent_path, can: [:create, Torrent], remote: true
  %li.dropdown
    %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
      %span.name= ta :library
      %b.caret
    %ul.dropdown-menu.directories
      - Directory.roots.order(:name).each do |dir|
        = li_link dir.name, directory_path(dir), can: [:show, dir], class: 'name'
      %li.divider
      = li_link :full_library, disks_path, can: [:index, Directory]
      - if first_disk = Disk.first
        = li_link :create_directory, new_disk_directory_path(first_disk), can: [:create, Directory], remote: true
%ul.nav.pull-right
  = li_link :settings, settings_path, can: [:manage, Setting]
