<% torrent = move %>

<% if torrent.content_exists? %>
<h3>Move Content</h3>

<h4>from</h4>
<%= torrent.content_path %>

<h4>to</h4>
<%= error_messages_for 'torrent', :object => torrent %>

<% if !(@series_dir && @series_dir.contains_torrent?(torrent)) && torrent.is_episode? %>
  <%= update_torrent_files_form torrent, :label => "#{Directory.for_series.name}/#{torrent.series_name}", :with => {
  :directory_id => Directory.for_series.id,
  :subdir => torrent.series_name
  } %>
  <br />
  <h4>or</h4>
<% end %>

<% update_torrent_files_form torrent do |f| %>
  <%= f.collection_select :directory_id, Directory.all.reject {|d| d.contains_torrent? torrent}, :id, :label, {:prompt => 'Please select destination'} %>
  <%= f.collection_select :subdir, [], :id, :label, {:prompt => 'Please select subdirectory'} %>
  <br />
  <%= f.submit 'Move' %>
<% end %>

<% else %>
  <div class="error">
    Torrent has no content at <%= torrent.content_path %>
  </div>
<% end %>
