<% torrent ||= details || @torrent %>
<% content_tag :dl, :class => dom_id(torrent) + ' torrent' do %>
  <%= show torrent, :short_title, :label => 'Title' %>
  <%= show torrent, :current_state, :label => 'Status' %>

  <% if torrent.running? %>
    <% show torrent, :progress do %>
      <%= progress_image_for torrent, :size => 80 %>
    <% end %>
    <% show torrent, :up do %>
      <%= human_transfer torrent.up_rate / 1024 %>
      (<%= human_bytes torrent.up_total %>) 
    <% end %>
    <% show torrent, :down do %>
      <%= human_transfer torrent.down_rate/1024 %>
      (<%= human_bytes torrent.down_total %>) 
    <% end %>
  <% end %>
  
  <% if torrent.content_exists? %>
    <%= show torrent, :content_path, :label => 'Content Location' %>
    <% show torrent, :size do %>
      <%= human_bytes(torrent.content_size.to_i) %> 
    <% end %>
  <% end %>

  <% unless torrent.creator.nil? %>
    <%= show torrent, :creator %>
  <% end %>

  <%= show torrent, :id %>
  <%= show torrent, :created_at %>
  <%= show torrent, :updated_at %>

  <% if torrent.file_exists? %>
    <% show torrent, :filename do %>
      <span title="<%= torrent.fullpath -%>"> <%= torrent.filename %></span>
    <% end %>
    <%= show torrent, :info_hash %>
  <% end %>

  <% unless torrent.url.blank? %>
    <% show torrent, :source do %>
      <%= link_to torrent.url, torrent.url %> 
    <% end %>
  <% end %>

<% end %>
