- torrent ||= item
= decorate torrent do |td|
  %tr.torrent{class: torrent.status, id: td.item_id}
    %td.title
      - if torrent.content.exist?
        %strong= link_to torrent.title, torrent
      - else
        = link_to torrent.title, torrent
    %td.status
      - if torrent.running?
        .progress-pie= td.progress
    %td.location
      - if torrent.content.exists?
        = torrent.content_directory.name
    %td.actions
      - if torrent.running?
        = link_to_icon :stop, torrent_transfer_path(torrent), class: 'btn-danger', method: :delete
      - else
        = link_to_icon :start, torrent_transfer_path(torrent), class: 'btn-success', method: :post

      - if torrent.content.exists?
        - unless torrent.moving?
          = link_to_modal i(:move), new_torrent_move_path(torrent), class: 'btn btn-info btn-mini'
        - else
          %span.btn.btn-info.disabled= i(:move)
        = link_to_icon :clear, torrent_content_path(torrent), :method => :delete, class: 'clear btn-danger', confirm: "really?"
