.transfer_torrent.well{id: torrent.transfer_id}
  .progress-pie= torrent.progress
  = torrent.link_to_content
  %span.down= torrent.down_rate
  %span.up= torrent.up_rate
  = render 'transfer/buttons', torrent: torrent
