= decorate torrent do |t|
  = content_tag_for :div, torrent, 'transfer' do
    .ui-grid-a
      .ui-block-a
        .progress= t.progress
        = t.link_to_content
      .ui-block-b
        %p.content_size= t.content_size
        %p.down= t.down_rate
        %p.up= t.up_rate
        = render 'transfer/buttons', torrent: torrent
