= for_header :fixed => true, :theme => 'e' do
  = render_widget :torrents_header
= render_widget :torrents
= for_footer 'data-id' => 'torrents-navigation', :fixed => true do
  = render_widget :torrents_navigation
