!!!5
%html
  %head
    %title= yield(:title) || "Cataract"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{"name"=>"viewport", :content=>"width=device-width, initial-scale=1"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'lib'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    = mobile_tag :role => 'page' do
      - if content_for?(:header)
        = mobile_tag header_options.merge(:role => 'header') do
          = yield :header
      = mobile_tag :role => 'content' do
        = render 'flash', :flash => flash
        = yield
      - if content_for?(:footer)
        = mobile_tag footer_options.merge(:role => 'footer') do
          = yield :footer
