!!!5
%html
  %head
    %title= yield(:title) || "Cataract"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{"name"=>"viewport", :content=>"width=device-width, initial-scale=1.0"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body

    .container
      %header
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              = render 'collapse', target: '.nav-collapse'
              = link_to 'Cataract', user_signed_in?? torrents_path : root_path, class: 'brand'
              .nav-collapse
                = render 'navigation'
                = render 'session'
      - if show_title?
        .page-header
          %h1#title= yield(:title)
      = render 'flash'

      = yield
