<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
  <html>
    <head>
      <title>Cataract</title>
      <%= stylesheet_link_tag 'lcars' %>
      <%= stylesheet_link_tag 'lcars-colors' %>
      <%= stylesheet_link_tag 'torrents' %>
      <%= stylesheet_link_tag 'layout' %>
      <%= stylesheet_link_tag 'style' %>
      <% javascript_include_tag *%w(prototype effects dragdrop controls lowpro) %>
      <% javascript_include_tag *%w(application lcars dynamic_content_dirs behaviours) %>
      <%= javascript_include_tag *%w(jquery jquery.livequery jquery.typewatch jquery.lcars) %>
      <%= javascript_include_tag *%w(jrails) %>
      <%= javascript_include_tag *%w(application) %>
    </head>
<body id="body">
  <div id="container" class="lcars se primary">
    <ul class="buttons">
      <li><%= link_to "Torrents", torrents_url %></li>
      <br />
      <li><%= link_to 'Log out', logout_path %></li>
    </ul>
    <span class="title">
      <% if logged_in? %>
        Logged in as <%= current_user.login %> 
      <% else %>
        Klingon Attacking
      <% end %>
    </span>
    <div class="inner">
        <%= yield %>
    </div>
  </div>
</body>
</html>
